/*CSS REset*/
.*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

#navbar	{
/*	background-color: #DBC8EE;*/
	color: black;
}

/*.img-fluid{
	max-width: 100%;
	max-width: auto;
	width: 10%;
	height: 5%;
}*/

body{
	
	/*background-color: #DBC8EE; /* F*/or browsers that do not support gradients */

}

.jumbotron {
  background-image: url("./images/bgpurple1.png") ;
  background-size: cover;
	background-position: center center;
	     padding-top: 15%;
      padding-bottom: 15%;
}

#title1{
	font-family: 'Lobster', cursive;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-inner img {
  margin: auto;
}

#aboutme, #projects, #t, #contact{
	background: rgba(189, 143, 167, 0.3) /* Green background with 30% opacity */
}

#toh, {
	color: rgba(189, 143, 167, 0.0);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #5C1551; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.navbar{
	background-color: #5C1551;	
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	text-align: center;

}

#pre-footer {
	background: rgba(189, 143, 167, 0.3);
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;

}


footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{

	background: rgba(189, 143, 167, 0.3);
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	padding: 1%;
}

